# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\chaitu\DjangoProjects2\ExcelfilesProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
